.content {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.cap {
    position: absolute;
    display: flex;
    background-color: white;
    border: solid white;
    border-width: 0 0 10px 0 ;
    width: 100%;
    height: 60px;
    min-width: 1040px;
    left: 0;
    top: 0;
    z-index: 1;
}

.logo {
    min-width: 2.7em;
    height: 2.7em;
    border-radius: 50%;
    background-color: #515050;
    margin-left: 15px;
    margin-top: 7px;
}

.box {
    min-width: 2.7em;
    height: 2.7em;
    border-radius: 50%;
    background-color: #E8E8E8;
    margin-left: 15px;
    margin-top: 7px;
}


.home_button {
    min-width: 6em;
    height: 2.7em;
    border-radius: 25px;
    background-color: white;
    margin-left: 15px;
    margin-top: 7px;
    text-align: center;
    text-decoration: none;
}

.home_button p {
    margin-top: 11.5px;
    color: black;
    font-family: Inter, sans-serif;
}

.home_button:hover {
    background-color: #E8E8E8;
}

.items_button {
    min-width: 6em;
    height: 2.7em;
    border-radius: 25px;
    background-color: white;
    margin-left: 15px;
    margin-top: 7px;
    text-align: center;
    text-decoration: none;
}

.items_button p {
    margin-top: 11.5px;
    color: black;
    font-family: Inter, sans-serif;
}

.items_button:hover {
    background-color: #E8E8E8;
}

.login_button {
    min-width: 8.8em;
    height: 2.7em;
    border-radius: 25px;
    background-color: #515050;
    margin-left: 20px;
    margin-top: 7px;
    text-align: center;
    text-decoration: none;
}

.login_button p {
    margin-top: 11.5px;
    color: white;
    font-family: Inter, sans-serif;
}

.login_button:hover {
    background-color: #3f3e3e;
}

.reg_button {
    min-width: 8.8em;
    height: 43.2px;
    border-radius: 25px;
    background-color: #E8E8E8;
    margin-left: 15px;
    margin-top: 7px;
    text-align: center;
    text-decoration: none;
    margin-right: 15px;
}

.reg_button p {
    margin-top: 10.5px;
    color: black;
    font-family: Inter, sans-serif;
}

.reg_button:hover {
    background-color: #d9d9d9;
}


.search_box {
    margin-top: 8px;
    margin-left: 15px;
    margin-right: 20px;
    width: 100%;
}

.search_box input[type=text]{
    padding-left: 20px;
}

.search_box_input {
    width: 100%;
    height: 40.5px;
    border-radius: 25px;
    background-color: #E8E8E8;
    border: 0px;
    outline: none;
    font-size: 18px;
    line-height:20px;
}

.search_box_input:focus {
    border: 2px solid;
    border-color: #515050;
    margin-right: 2px;
    margin-top: -2px;
}

.search_box_input:hover {
    background-color: #d9d9d9;
}

.profile {
    min-width: 2.7em;
    height: 2.7em;
    border-radius: 50%;
    background-color: #E8E8E8;
    margin-left: 15px;
    margin-top: 7px;
    margin-right: 15px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-family: Inter, sans-serif;
}

.profile p {
    margin-top: 11.5px;
}

