.data{
    display: inline-block;
    margin-top: 125px;
    width: 1200px;
    position: absolute;
    left: 50%;
    margin-left: -600px;
}

.offer_number{
    display: inline;
    font-size: 31px;
    font-family: Inter, sans-serif;
}

.date{
    margin-left: 100px;
    display: inline;
    font-size: 31px;
    font-family: Inter, sans-serif;
}

.delivery{
    margin-left: 100px;
    display: inline;
    font-size: 31px;
    font-family: Inter, sans-serif;
}

.offer_number_value{
    color: #A5A5A5;
    margin-left: 30px;
    display: inline;
    font-size: 19px;
    font-family: Inter, sans-serif;
}

.date_value{
    color: #A5A5A5;
    margin-left: 30px;
    display: inline;
    font-size: 19px;
    font-family: Inter, sans-serif;
}

.delivery_value{
    color: #A5A5A5;
    margin-left: 30px;
    display: inline;
    font-size: 19px;
    font-family: Inter, sans-serif;
}

.progress {
    display: inline-block;
    line-height: 60px;
    height: 60px;
    margin-top: 250px;
    width: 1200px;
    margin-left: 5%;
}

.first_step{
    vertical-align: middle;
    display: inline;
}

.second_step{
    vertical-align: middle;
    display: inline;
}

.third_step{
    vertical-align: middle;
    display: inline;
}

.info_step{
    vertical-align: middle;
    margin-left: 40px;
    display: inline;
    font-size: 27px;
    font-family: Inter, sans-serif;
}

.next_step{
    vertical-align: middle;
    margin-left: 40px;
    margin-right: 40px;
    display: inline;
    font-size: 27px;
    font-family: Inter, sans-serif;
}

.info{
    margin-top: 50px;
    color: #A5A5A5;
    margin-left: 120px;
    font-size: 19px;
    font-family: Inter, sans-serif;
}

.items {
    position: absolute;
    left: 50%;
    margin-left: -850px;
}

.item{
    height: 150px;
    width: 1500px;
}

.img_box{
    float: left;
    width:125px;
    height:125px;
    line-height: 125px;
    margin-left: 60px;
}

.item_img {
    max-width: 120px;
    max-height:120px;
    object-fit: contain;
    vertical-align: middle;
    border-radius: 20px;
    vertical-align: middle;
}

.item_name{
    font-size: 19px;
    font-family: Inter, sans-serif;
    float:left;
    margin-left: 80px;
    width: 350px;
}

.item_type_size{
    font-size: 19px;
    font-family: Inter, sans-serif;
    float:left;
    margin-left: 80px;
    width: 140px;
}

.item_cost{
    font-size: 19px;
    font-family: Inter, sans-serif;
    float:left;
    margin-left: 80px;
    width: 110px;
}

.sale{
    font-size: 19px;
    font-family: Inter, sans-serif;
    float:left;
    margin-left: 80px;
    width: 50px;
}

.count{
    font-size: 19px;
    font-family: Inter, sans-serif;
    float:left;
    margin-left: 80px;
    width: 60px;
}

.final_cost{
    font-size: 19px;
    font-family: Inter, sans-serif;
    float:left;
    margin-left: 80px;
    width: 120px;
}

.money{
    text-align: center;
    font-size: 26px;
    font-family: Inter, sans-serif;
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 50px;
}

