.select_box {
    position: absolute;
    width: 250px;
    height: 400px;
    top: 25%;
    left: 30px;
    margin: 80px 0 0 0  ;
}

.select_item {
    background-color: #D9D9D9;
    border-radius: 15px;
    padding: 15px 10px 15px 10px;
    margin-top: 30px;
    border: 0px solid;
    font-size: 17px;
    cursor:pointer;
    font-family: Inter, sans-serif;
}

.select_item:hover {
    background-color: #cfcece;
}

.item {
    border: 0px solid;
    min-width: 211px;
    text-align: left;
    background-color: white;
    border-radius: 15px;
    padding: 15px 10px 15px 10px;
    margin-top: 30px;
    font-size: 17px;
    cursor:pointer;
    font-family: Inter, sans-serif;
}

.item:hover {
    background-color: #E8E8E8;
}

.change_data{
    position: absolute;
    left: 15%;
    top: 10%;
    margin: 80px 0 0 250px;

}

.data_message {
    font-family: Inter, sans-serif;
}

.form_info {
    font-family: Inter, sans-serif;
}

.form_name{
    font-family: Inter, sans-serif;
}

.change_name {
    width: 250px;
    height: 30px;
    border-radius: 13px;
    border: 2px solid;
    border-color: #D9D9D9;
    padding-left: 10px;
    font-family: Inter, sans-serif;
}

.change_name:hover{
    border-color: #c1c1c1;
}

.change_surname {
    width: 250px;
    height: 30px;
    border-radius: 13px;
    border: 2px solid;
    border-color: #D9D9D9;
    padding-left: 10px;
    font-family: Inter, sans-serif;
}

.change_surname:hover{
    border-color: #c1c1c1;
}

.change_birthday {
    width: 242px;
    height: 30px;
    border-radius: 13px;
    border: 2px solid;
    border-color: #D9D9D9;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Inter, sans-serif;
}

.change_country {
    width: 250px;
    height: 30px;
    border-radius: 13px;
    border: 2px solid;
    border-color: #D9D9D9;
    padding-left: 10px;
    font-family: Inter, sans-serif;
}


.save_button {
    margin-top: 100px;
    width: 170px;
    height: 45px;
    border-radius: 25px;
    background-color: #d9d9d9;
    text-align: center;
    cursor: pointer;
    color: black;
    font-family: Inter, sans-serif;
    font-size: 17px;
    border: 0;
}

.save_button:hover {
    border: 2px solid #cfcfcf;
    background-color: #cdcdcd;
}


.user_foto {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin-left: 10px;
    margin-right: 10px;
    object-fit: cover;
    background-color: #ededed;
}

.name {
    font-family: Inter, sans-serif;
    text-align: center;
    font-size: 29px;
    margin-block-start: 0;
    padding-top: 9px;
}

.change_img {
    margin-top: 10px;
    font-family: Inter, sans-serif;
    color: white;
}

