.registration_box {
    position: absolute;
    height: 600px;
    width: 400px;
    top: 42%;
    left: 50%;
    margin: -220px 0 0 -220px;
    border-radius: 40px;
    border: 20px solid #FCC793;
    text-align: center;
}

.logotype {
    width: 2.7em;
    height: 2.7em;
    border-radius: 50%;
    background-color: #8B471A;
    margin: auto;
    margin-top: 30px;
    margin-block-end: 2em;
}

.welcome_text {
    font-size: 30px;
    font-family: sans-serif;
    margin-block-end: 0em;
    margin-block-start: 10px;
}

.registration_box input{
    width: 300px;
    height: 40px;
    border: 5px solid #FCC793;
    border-radius: 15px;
    margin-top: 5px;
}

.input_name {
    font-family: Inter, sans-serif;
    margin-block-end: 0em;
    text-align: left;
    margin-left: 50px;
}

.continue_button {
    width: 200px;
    height: 30px;
    border-radius: 15px;
    background-color: #8B471A;
    border: 0px;
    margin-top: 15px;
    color: white;
    font-family: Inter, sans-serif;
    font-size: 15px;
}

.info {
    font-family: Inter, sans-serif;
    margin-block-end: 5px;
    margin-block-start: 5px;
    text-decoration: none;
    color: black;
}

.google_img {
    width: 22px;
    vertical-align: middle;
}