{% extends 'main/header.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/basket.css' %}">
{% endblock %}

{% block title %}
Главная страница
{% endblock %}


{% block content %}

{% if items %}

    <p class="basket_title">Корзина</p>
    <items>
        {% for i in items %}
            <a href="{% url 'product_page' i.id %}" class="item_box">
            <div style="display: block; height: 260px; line-height: 210px;">
                <img src="{% static i.images.all.0 %}" class="item_img" draggable="false">
            </div>
            <p class="item_name">{{ i.name }}</p>
            <p class="item_price">{{ i.cost }} руб</p>
            </a>
        {% endfor %}
    </items>

    <div class="result_money">
        <div class="headers">
            <p class="your_order">Ваш заказ</p>
            <span class="circle"></span>
        </div>
        <div class="cost">
            <p class="itog">Итого</p>
            <p class="cost_value">{{ cost }} руб</p>
        </div>

    </div>

{% else %}

<p class="basket_title">Корзина</p>
<div class="wrapper">
    <a href="{% url 'home' %}" class="add_items"><p>Добавить товары</p></a>
</div>

{% endif %}

{% endblock %}