{% extends 'main/header.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/goods.css' %}">
{% endblock %}

{% block title %}
Главная страница
{% endblock %}


{% block content %}

<div class="items_box">
    <items>
        {% for i in items %}
        <a href="{% url 'product_page' i.id %}" class="item_box">
            <div style="display: block; height: 260px; line-height: 210px;">
                <img src="{% static i.images.all.0 %}" class="item_img" draggable="false">
            </div>
            <p class="item_name">{{ i.name }}</p>
            <p class="item_price">{{ i.cost }} руб</p>
        </a>
        {% endfor %}
    </items>
</div>

{% endblock %}

