{% extends 'main/header.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/goods.css' %}">
{% endblock %}

{% block title %}
Главная страница
{% endblock %}


{% block content %}

<div class="items_box">
    <items>
        {% for i in items %}
        <a href="{% url 'product_page' i.id %}">
            <div class="item_box">
                <p class="item_name">{{ i.name }}</p>
            </div>
        </a>
        {% endfor %}
    </items>
</div>

{% endblock %}

