{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/header.css' %}">
    {% block link %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{% static 'main/js/search.js' %}" defer></script>
    {% block script %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="cap">
    <a class="logo" href="{% url 'home' %}"></a>
    <a class="home_button" href="{% url 'home' %}">
        <p>Главная</p>
    </a>
    <a class="items_button" href="{% url 'goods' %}">
        <p>Каталог</p>
    </a>

    <div class="search_box">
        {% csrf_token %}
        <input id="search_input" class="search_box_input" placeholder="Найти..." type="text" autocomplete="off">
        <div id="results_box" class="result_card not-visible"></div>
    </div>

    {% if request.user.is_authenticated %}

    <a href="{% url 'basket' %}" class="box"><img src="{% static 'main/png/box.svg' %}" class="box_img" draggable="false"></a>

    {% if request.user.profile.img %}

    <a href="{% url 'profile' request.user.id %}"><img src="{% static request.user.profile.img %}" class="user_img" draggable="false"></a>

    {% else %}

    <a href="{% url 'profile' request.user.id %}" class="profile"><p>{{ request.user.username.0.upper }}</p></a>

    {% endif %}

    {% else %}

    <a class="login_button" href="{% url 'login' %}">
        <p>Войти</p>
    </a>

    <a class="reg_button" href="{% url 'registration' %}">
        <p>Регистрация</p>
    </a>

    {% endif %}

</div>
<div class="content" id="content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>