{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/header.css' %}">
    {% block link %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="cap">
    <a class="logo" href="{% url 'home' %}">
<!--        <img src="{% static 'main/png/Logo.svg' %}" class="logo" draggable="false">-->
    </a>
    <a class="home_button" href="{% url 'home' %}">
        <p>Главная</p>
    </a>
    <a class="items_button" href="{% url 'goods' %}">
        <p>Каталог</p>
    </a>

    <div class="search_box">
        <input class="search_box_input" placeholder="Найти..." type="text">
<!--        <img src="{% static 'main/png/lupa.png' %}" style="width: 20px; height: 20px; position: relative; top: 8px; left: 5px;" draggable="false">-->
    </div>

    <a class="login_button" href="{% url 'login' %}">
        <p>Войти</p>
    </a>

    <a class="reg_button" href="{% url 'registration' %}">
        <p>Регистрация</p>
    </a>

</div>
<div class="content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>