{% extends 'main/header.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/index.css' %}">
{% endblock %}

{% block title %}
Главная страница
{% endblock %}


{% block content %}

<div class="container">
    <div class="block">
        <img src="{% static 'main/png/outfits.png' %}" class="outfits_img" draggable="false">
        <a href="{% url 'goods' %}" class="change_button"><div class="button_div"><p>Аутфиты</p></div></a>
    </div>
    <div class="block">
        <img src="{% static 'main/png/goods.png' %}" class="goods_img" draggable="false">
        <a href="{% url 'goods' %}" class="change_button"><div class="button_div"><p>Товары</p></div></a>
    </div>
</div>
{% endblock %}