{% extends 'main/header.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/index.css' %}">
{% endblock %}

{% block title %}
Главная страница
{% endblock %}


{% block content %}

<div class="container">
    <a href="{% url 'goods' %}">
        <div class="block">
            <img src="{% static 'main/png/outfits.png' %}" class="outfits_img" draggable="false">
            <div class="change_button"><div class="button_div"><p>Aутфиты</p></div></div>
        </div>
    </a>
    <a href="{% url 'goods' %}">
        <div class="block">
            <img src="{% static 'main/png/goods.png' %}" class="goods_img" draggable="false">
            <div class="change_button"><div class="button_div"><p>Товары</p></div></div>
        </div>
    </a>
</div>
{% endblock %}