{% extends 'main/header.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/offer.css' %}">
{% endblock %}


{% block title %}
Ваш заказ
{% endblock %}


{% block content %}
<div class="data">
    <p class="offer_number">Заказ</p>
    <p class="offer_number_value">#{{ data.offer_number }}</p>
    <p class="date">Дата и время</p>
    <p class="date_value">{{ data.date }}</p>
    <p class="delivery">Пункт выдачи</p>
    <p class="delivery_value">{{ data.city }}</p>
</div>
<div class="progress">
    {% if data.step == "Принят" %}
        <img src="{% static 'main/png/step.png' %}" class="first_step">
    {% else %}
        <img src="{% static 'main/png/first_step.png' %}" class="first_step">
    {% endif %}
    <p class="info_step">Принят</p>
    <p class="next_step">&#10095;</p>
    {% if data.step == "Готов к выдаче" %}
        <img src="{% static 'main/png/step.png' %}" class="second_step">
    {% else %}
        <img src="{% static 'main/png/second_step.png' %}" class="second_step">
    {% endif %}
    <p class="info_step">Готов к выдаче</p>
    <p class="next_step">&#10095;</p>
    {% if data.step == "Выдан" %}
        <img src="{% static 'main/png/step.png' %}" class="third_step">
    {% else %}
        <img src="{% static 'main/png/third_step.png' %}" class="third_step">
    {% endif %}
    <p class="info_step">Выдан</p>
</div>
<p class="info">Пройдите в пункт выдачи, чтобы получить заказ!</p>

<div class="items">
    {% for i in items %}
        <div class="item">
            <div class="img_box">
                <img src="{% static i.item.images.all.0 %}" class="item_img" draggable="false">
            </div>
            <div style="float:left; margin-top: 35px;">
                <p class="item_name">{{ i.item.name }}</p>
                <p class="item_type_size">Размер {{ i.type_size }}-{{ i.size }}</p>
                <p class="item_cost">{{ i.item.cost }}руб</p>
                <p class="sale">0%</p>
                <p class="count">{{ i.count }} шт</p>
                <p class="final_cost">{{ i.final_cost }}руб</p>
            </div>
        </div>
    {% endfor %}
    <p class="money">Итого: {{ cost }}руб</p>
</div>


{% endblock %}
