{% extends 'main/header.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/profile.css' %}">
{% endblock %}

{% block title %}
Профиль
{% endblock %}


{% block content %}

{% if request.user.profile.img %}

<img src="{% static request.user.profile.img %}" class="user_ava" draggable="false">

{% else %}

<div class="user_ava"><p class="name">{{ request.user.username.0.upper }}</p></div>

{% endif %}

<div class="extra_data">
    <form method="post">
    {% csrf_token %}
    <button type="submit" class="logout"><p>Выйти</p></button>
    </form>
    <a href="{% url 'profile_change' %}" class="change_data"><p>Изменить профиль</p></a>
</div>



{% endblock %}