{% extends 'main/header.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/profile.css' %}">
{% endblock %}

{% block title %}
Профиль
{% endblock %}


{% block content %}

{% if request.user.profile.img %}

<img src="{% static request.user.profile.img %}" class="user_ava" draggable="false">

{% else %}

<div class="user_ava"><p class="name">{{ request.user.username.0.upper }}</p></div>

{% endif %}

<div class="extra_data">
    <form method="post">
    {% csrf_token %}
    <button type="submit" class="logout"><p>Выйти</p></button>
    </form>
    <a href="{% url 'profile_change' %}" class="change_data"><p>Изменить профиль</p></a>
</div>

<div class="user_items">
    <button class="items_far"><p>Избранное</p></button>
    <button class="items_pur"><p>Купленное</p></button>
</div>

<div class="favorites">
    {% for i in favorites_items %}
        <a href="{% url 'product_page' i.id %}" class="item_box">
            <img src="{% static i.images.all.0 %}" class="item_img" draggable="false">
            <p class="item_name">{{ i.name }}</p>
            <p class="item_price">{{ i.cost }} руб</p>
        </a>
    {% endfor %}
</div>

{% endblock %}