{% extends 'main/header.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/profile_change.css' %}">
{% endblock %}

{% block title %}
Главная страница
{% endblock %}


{% block content %}

<div class="select_box">
    <button href="{% url 'profile_change' %}" class="select_item">Персональные данные</button>
    <button href="{% url 'profile_change' %}" class="item">Настройка ленты</button>
    <button href="{% url 'profile_change' %}" class="item">Уведомления</button>
    <button href="{% url 'profile_change' %}" class="item">Конфиденциальность</button>
    <button href="{% url 'profile_change' %}" class="item">Безопасность входа</button>
</div>
<div class="change_data">
    <h1 class="data_message">Персональные данные</h1>
    <p class="form_info">Отредактируйте основные личные сведения, чтобы улучшить рекомендации.</p>
    <form method="post">
        {% csrf_token %}

        <p class="form_name" style="margin-top:40px;">Фотография</p>
        <div class="profile_img"></div>
        {{ profile_form.img }}

        <p class="form_name">Имя</p>
        {{ profile_form.user_name }}

        <p class="form_name">Фамилия</p>
        {{ profile_form.user_surname }}

        <p class="form_name">Дата рождения</p>
        {{ profile_form.birthday }}

        <p class="form_name">Пол</p>
        {{ profile_form.gender }}

        <p class="form_name">Город</p>
        {{ profile_form.country }}

        <button type="submit" class="save_button">Сохранить</button>
    </form>
</div>

{% endblock %}