{% extends 'main/header.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/profile.css' %}">
{% endblock %}

{% block title %}
Профиль
{% endblock %}


{% block content %}

<div class='profile_data'>
    <div class="user_ava"><p class="name">{{ request.user.username.0.upper }}</p></div>
    <div class="extra_data">
        <form method="post">
        {% csrf_token %}
        <button type="submit" class="logout"><p>Выйти</p></button>
        </form>
        <a href="{% url 'home' %}" class="change_data"><p>Изменить данные</p></a>
    </div>
</div>


{% endblock %}