{% extends 'main/header.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/purchase.css' %}">
{% endblock %}

{% block script %}
<script src="{% static 'main/js/purchase.js' %}" defer></script>
{% endblock %}

{% block title %}
Оформление заказа
{% endblock %}


{% block content %}

<p class="purchase_title">Оформление заказа</p>
<div class="data">
    <form method="POST">
        {% csrf_token %}
        <p class="form_title">Получатель</p>
        <p class="input_name">Телефон</p>
        <input type="text" name="number">
        <p class="input_name">Получатель (ФИО полностью)</p>
        <input type="text" name="FIO">
        <p class="input_name">Аккаунт в телеграмм</p>
        <input type="text" name="tg">
        <p class="input_name">Электронный адрес</p>
        <input type="text" name="email">
        <p class="form_title">Адрес доставки</p>
        <p class="input_name">Регион</p>
        <input type="text" name="region">
        <p class="input_name">Город</p>
        <input type="text" name="city">
        <p class="form_title">Способ доставки</p>
        <div class="radio">
            <input type="radio" id="cd1" name="delivery" value="1" checked>
            <label for="cd1">СДЭК ... 700руб</label>
        </div>
        <div class="radio" style="margin-top: 25px;">
            <input type="radio" id="cd2" name="delivery" value="2">
            <label for="cd2">Самовывоз ... 0руб</label>
        </div>
        <p class="form_title">Способ оплаты</p>
        <div class="radio">
            <input type="radio" id="co1" name="payment" value="1" checked>
            <label for="co1" style="padding-bottom: 60px;">Оплата банковской картой</label>
        </div>
        <button type="submit" class="offer_button">Оформить заказ</button>
    </form>

</div>

{% for item in items %}
    {% if item == items.0 %}
        <div class="items_box">
            <div class="item_name"><p style="margin-top:10px;">{{ item.item.name }}</p></div>
            <div class="mySlides">
                <img src="{% static item.item.images.all.0 %}" class="item_img" draggable="false">
            </div>
            <div class="item_price">
                <p style="vertical-align: middle;">{{ item.item.cost }} руб</p>
            </div>
            <div class="item_size"><p style="margin-top: 3px;">{{ item.basket.item_type_size }}-{{ item.basket.item_size }}</p></div>
            <div class="dots">
                <span class="dot" onclick="plusItem(-1)"><img src="{% static 'main/png/left.png' %}" style="vertical-align: middle;"></span>
                <span class="dot" onclick="plusItem(1)"><img src="{% static 'main/png/right.png' %}" style="vertical-align: middle;"></span>
            </div>
            <div class="change_count">
                <span class="minus" onclick="minuscount({{ item.basket.id }})">-</span>
                <p class="count" id="count{{item.basket.id}}">{{ item.basket.count }}</p>
                <span class="plus" onclick="pluscount({{ item.basket.id}})">+</span>
            </div>
            <div class="line"></div>
            <p class="cost" id="cost">{{ cost }}руб</p>
        </div>
    {% else %}
        <div class="items_box" style="display: none;">
            <div class="item_name"><p style="margin-top:10px;">{{ item.item.name }}</p></div>
            <div class="mySlides">
                <img src="{% static item.item.images.all.0 %}" class="item_img" draggable="false">
            </div>
            <div class="item_price">
                <p style="vertical-align: middle;">{{ item.item.cost }} руб</p>
            </div>
            <div class="item_size"><p style="margin-top: 3px;">{{ item.basket.item_type_size }}-{{ item.basket.item_size }}</p></div>
            <div class="dots">
                <span class="dot" onclick="plusItem(-1)"><img src="{% static 'main/png/left.png' %}" style="vertical-align: middle;"></span>
                <span class="dot" onclick="plusItem(1)"><img src="{% static 'main/png/right.png' %}" style="vertical-align: middle;"></span>
            </div>
            <div class="change_count">
                <span class="minus" onclick="minuscount({{ item.basket.id }})">-</span>
                <p class="count" id="count{{item.basket.id}}">{{ item.basket.count }}</p>
                <span class="plus" onclick="pluscount({{ item.basket.id}})">+</span>
            </div>
            <div class="line"></div>
            <p class="cost">{{ cost }}руб</p>
        </div>
        <p class="have">У меня есть промокод</p>
        <input type="text" class="promo" placeholder="Ввести  промокод">
    {% endif %}
{% endfor %}
{% endblock %}